<div class="main-neon">
    <div class="neon">
      
        <div class="container" style=" width:100%; background:black;">
          <marquee scrollamount="16" scrolldelay="0">
            <p style="font-family: gyonggi; color:white; font-size:80px">
              아주대학교 LIKELION 축제 사이트
            </p>
          </marquee>
        </div>
   
    </div>
</div>