
<!--축제 전광판-->
    <div class="main-neon" style="position:absolute;z-index:999;top:0;left:0;width:100%;">
      <div class="neon">
        <div class="container" style=" width:100%; ">
          <marquee scrollamount="14" scrolldelay="0">
            <p style="font-family: gyonggi; color:white; font-size:2.2em">
              <br>
              
              <%= @main_neon %>
              
              <br>
            </p>
          </marquee>
        </div>
      </div>
    </div>

<!--메인이미지-->
    <div class="main-image" style="margin-bottom:3em;">
        <div class="section" >
          <%= image_tag "mainTitle.png", id: "maintitle" %>
        </div>
    </div>



<!--라인업 안내 부분-->

<!--section 밖으로 빼지않으면 이미지랑 겹침-->

    <div id="lineup-title" style="font-family: balle; font-size:1.5em; text-align:center; position:relative" >
          <br>
          <h1>Lineup</h1>
    </div>

    <div class="section" id="main-lineup">
    
      <div class="lineup-button col-md-3 btn-group js-radio-button-group p-4 justify-content-center">
        <button type="button" class="btn btn-secondary is-checked" onclick="button24_click();" id="button24">24 (수)</button>
        <button type="button" class="btn btn-secondary" onclick="button25_click();" id="button25">25 (목)</button>
        <button type="button" class="btn btn-secondary" onclick="button26_click();" id="button26">26 (금)</button>
      </div>
      
    </div>



<!--타임 테이블-->



    <div class="tt_background-image">
       <%= render 'timetable' %>
    </div>
    
        
  



<!--부스 검색 및 전체보기-->
<div id="main-boothSearch"> <!--여기 작업해야 되는거 맞나요? >>성혁 씀-->

</div>

<%= render 'booth' %>
