<header class="main-header">
    <h2>메인 뷰</h2>
</header>

<div class="lineup">
    <h2>라인업 작업</h2>
</div>

<div class="timetable">
    <h2>시간표 작업</h2>
</div>

<div class="booth-info">
    <h2>부스검색</h2>
</div>

<footer class="main-footer">
    <h2>footer</h2>
</footer>
